.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;

  .title {
    font-size: clamp(1.875rem, 0.982rem + 2.381vw, 3.125rem);
    color: var(--text-color);
    width: clamp(15.625rem, 6.696rem + 23.81vw, 28.125rem);
    text-align: center;
    transition: all 0.2s;
  }

  .input-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
    .additional-info {
      display: flex;
      justify-content: space-between;
    }
  }
}
